 <footer>
        <img src="/public/img/logo.png" alt="">
        <h1>TRYLLEREJSEN</h1>
        <h2>Magiske oplevelser skaber glade hjerter</h2>
        <div class="SoMe" style="display: flex; gap: 10px; align-items: center;">
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/ditt_brukernavn" target="_blank" style="text-decoration: none;">
                <i class="fab fa-linkedin" style="font-size: 30px; color: #f9efc7;;"></i>
            </a>
            <p>LINKEDIN</p>
            <!-- Facebook -->
            <a href="https://www.facebook.com/ditt_brukernavn" target="_blank" style="text-decoration: none;">
                <i class="fab fa-facebook" style="font-size: 30px; color: #f9efc7;;"></i>
            </a>
            <p>FACEBOOK</p>
            <!-- Instagram -->
            <a href="https://www.instagram.com/ditt_brukernavn" target="_blank" style="text-decoration: none;">
                <i class="fab fa-instagram" style="font-size: 30px; color: #f9efc7;;"></i>
            </a>
            <p>INSTAGRAM</p>


        </div>
    </footer>
    <style>
        footer {
  background: transparent; /* Footer bakgrunn forblir transparent */
  text-align: center;
}
.SoMe{
      align-items: center;
      color: #f9efc7;
}
h1 {
  color: #f7afff;
}
h2 {
  color: #f9efc7;
}
    </style>