    <header>
         <img src="/public/img/logo.png" alt="">

        <h1>TRYLLEREJSEN</h1>
        <h2>Magiske oplevelser skaber glade hjerter</h2>

    </header>
    <style>
        header{ 
            text-align: center;
        }
h1 {
  color: #f7afff;
}
h2 {
  color: #f9efc7;
}
    </style>